.window {
    top: 30%;
    left: 35%;
    background-color: white;
    border-radius: 10px;
    min-width: 300px;
    min-height: 40%;
    max-height: 90%;
    width: 30%;
    height: auto;
    box-shadow: 0px 0px 10px 4px #333;
    z-index: 2;
    overflow: auto;
}

.disclaimer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:#666;
    opacity: 0.8;
}

.outer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hide_me {
    visibility: false;
}

.show_me {
    visibility: true;
}