<div class="outer-container">
  <div class="listContainer">
    <h1>Admin page</h1>
    <app-admin-config></app-admin-config>
    <div class="mapList">
      <div class="tableTitle">Map name</div>
      <div class="maps no-select" *ngFor="let map of mapNames" [ngClass]="{selected: map === selectedMap}" (click)="mapSelected(map)">
        <div class="map-name-container">
          <span>{{map}}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="serializedMap">
      <app-map-editor [map]="serializedMap"
        (mapWasSaved)="addMap($event)"
        (mapWasDeleted)="keepAllMapsExcept($event)"
        (mapCouldNotBeSavedBecauseAlreadyExists)="alertMapCouldNotBeSavedBecuaseAlreadyExists()"
        (mapCouldNotBeSavedBecauseNotFound)="alertMapCouldNotBeSavedBecauseNotFound()">
      </app-map-editor> 
  </div>
</div>
