.menu {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
    min-width: 300px;
    min-height: 40%;
    max-height: 90%;
    width: 30%;
    height: auto;
    padding: 20px 0px 20px 0px;
    margin: auto;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0px 0px 10px 4px #333;
}

#waiting {
    width: 20px;
    height: 20px;
}
