#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
.*.swp
.*.swo
typings
app/**/*.js
app/**/*.map
common/**/*.js
common/**/*.map
node_modules
jspm_packages
bower_components
*.d.ts

